h1= title
form(action="/card/create", method="POST")
    .sides
        #card-front.side
            h2 Front
            if typeof images !== 'undefined' && images.length
                each image, key in images
                    li.image
                        input(type="radio", name="frontImage", value=key, checked="checked")
                        img(src=image.imageBasketItem.imageItems[2].resourceUri)
            div
                a(href="/image/import") Import image

        #card-back.side
            h2 Back
            if typeof images !== 'undefined' && images.length
                each image, key in images
                    li.image
                        input(type="radio", name="backImage", value=key, checked="checked")
                        img(src=image.imageBasketItem.imageItems[2].resourceUri)
            else
                div
                    a(href="/image/import") Import image

    div
        button.create-pack(type="submit") Generate Cards